@media screen and (max-width: 820px) {
    header{
        background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)) , url('../img/homemobile.jpg');
        background-repeat: no-repeat;
        background-position:center center;
        background-size: cover;
    }
}
@media screen and (max-width: 780px){
    header nav#nav-esq ul#menu-principal li a{
        font-size: 100%;
    }
    
    header nav#nav-esq{
        justify-content: space-between;
    }
    header nav#nav-esq div#logo{
        margin-left: 1rem;
    }
    header nav#nav-esq ul#menu-principal{
        flex-direction: column;
        width: 70%;
        height: 9;
        padding-top: .3rem;
        right: 0;
        z-index: 999;
    }
    header nav#nav-esq ul#menu-principal li{
        margin: .5rem;
    }


}

